cat << 'EOF' > .gitignore
# Terraform local working directories and state files
terra/.terraform/
terra/*.tfstate
terra/*.tfstate.*
terra/crash.log
terra/*.tfvars
terra/.terraform.lock.hcl

# OS files
.DS_Store
*.pem
EOF
